*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-color: aqua;
}

.container-ans{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.label-type{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    display: block;
    color: grey;
}

.label-party{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 20px;
    color: grey;
}

.btn-go{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 5px;
}

